<div>
  <header class="header">
    <div class="logo">
      <%= image_tag "reddit/logo.png", class: "logo-image" %>
      <div class="logo-text">Cujian</div>
    </div>
    <div class="popular-selector">
      <button class="popular-button" role="navigation">
        <%= image_tag "reddit/popular-icon.svg", class: "popular-icon" %>
        <div class="popular-text">Popular</div>
        <%= image_tag "reddit/down-arrow-icon.svg", class: "down-arrow-icon" %>
      </button>
      <div class="popular-menu">
        <input type="text" class="filter" placeholder="Filter" />
        <div class="feed-title">Feeds</div>
        <a href="#" class="popular-links">
          Popular
        </a>
        <a href="#" class="popular-links">
          All
        </a>
        <a href="#" class="popular-links">
          Original Content
        </a>
      </div>
    </div>
    <div class="search-bar">
      <div class="search-container">
        <label class="search-icon-container">
          <svg class="search-icon" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M12.4743167,11.1299698 L14.6957506,13.2817166 C15.0924476,13.665969 15.1025359,14.2990536 14.7182834,14.6957506 C14.334031,15.0924476 13.7009464,15.1025359 13.3042494,14.7182834 L11.0486163,12.5334103 C10.0079655,13.2768564 8.73367013,13.7142857 7.35714286,13.7142857 C3.84600096,13.7142857 1,10.8682847 1,7.35714286 C1,3.84600096 3.84600096,1 7.35714286,1 C10.8682847,1 13.7142857,3.84600096 13.7142857,7.35714286 C13.7142857,8.76975383 13.2536226,10.0747029 12.4743167,11.1299698 Z M11.7142857,7.35714286 C11.7142857,4.95057046 9.76371525,3 7.35714286,3 C4.95057046,3 3,4.95057046 3,7.35714286 C3,9.76371525 4.95057046,11.7142857 7.35714286,11.7142857 C9.76371525,11.7142857 11.7142857,9.76371525 11.7142857,7.35714286 Z"></path>
            </g>
          </svg>
        </label>
        <form action="#" autocomplete="off" method="get">
          <input type="search" class="search-input" id="header-search-bar" name="q" placeholder="Search Cujian" role="search">
        </form>
      </div>
    </div>
    <div class="account">
      <a class="login-btn" href="#">log in</a>
      <a class="signup-btn" href="#">sign up</a>

      <svg class="account-icon" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
        <g fill="inherit">
          <path d="M146.8 142.6h-37.6c-31.1 0-56.5 25.3-56.5 56.5 0 5.2 4.2 9.4 9.4 9.4h131.8c5.2 0 9.4-4.2 9.4-9.4 0-31.2-25.3-56.5-56.5-56.5zM128 130.7c20.1 0 36.4-16.3 36.4-36.4v-9.4c0-20.1-16.3-36.4-36.4-36.4S91.6 64.8 91.6 84.9v9.4c0 20.1 16.3 36.4 36.4 36.4z"></path>
        </g>
      </svg>
    </div>
    <div class="header-user-dropdown">
      <button class="user-menu-button" role="navigation">
        <div>
          <%= image_tag "reddit/person-account.svg", class: "person-account-icon" %>
          <%= image_tag "reddit/down-arrow-icon.svg", class: "down-arrow-icon" %>
        </div>
      </button>
    </div>
  </header>
  <div class="body">
    <div class="body-menu">
      <div class="submenu">
        <div class="view-layout">
          <div class="label">View</div>
          <div class="view-menu-btn-container">
            <%= image_tag "reddit/view-card-selected.svg", class: "view-menu-icon" %>
            <%= image_tag "reddit/view-classic-unselected.svg", class: "view-menu-icon" %>
            <%= image_tag "reddit/view-compact-unselected.svg", class: "view-menu-icon" %>
          </div>
        </div>
        <div class="separator"></div>
        <div class="sort">
          <div class="label">Sort</div>
          <div class="sort-menu-container">
            <%= image_tag "reddit/sort-hot-selected.svg", class: "sort-hot-menu-icon" %>
            <div class="sort-menu-label">hot</div>
            <%= image_tag "reddit/down-arrow-icon-blue.svg", class: "sort-menu-down-icon" %>
          </div>
        </div>
        <div class="country-selector">
          <div class="country-selector-label">Australia</div>
          <%= image_tag "reddit/down-arrow-icon-blue.svg", class: "menu-down-icon" %>
        </div>
      </div>
    </div>

    <div class="body-container">
      <div class="mainbar-container">
        <% @public_timeline.each do |timeline| %>
          <div class="status">
            <div class="status-avatar">
              <%= image_tag timeline.account.avatar, class: "avatar" %>
            </div>
            <div class="status-card">
              <div class="status-author">
                <div>
                  <%= timeline.account.username %> @ <a href="#">john.doe@foo.bar</a>
                </div>
                <div class="posted-time">
                  <%= time_ago_in_words(timeline.created_at) %> ago
                </div>
              </div>
              <div class="status-content">
                <%= raw timeline.content %>
              </div>
              <div class="status-actions">
              </div>
            </div>
          </div>
        <% end %>
        <% 1.upto(10).each do |_| %>
          <div class="status">
            <div class="status-avatar">
              <%= image_tag "http://i.pravatar.cc/75?img=58", class: "avatar" %>
            </div>
            <div class="status-card">
              <div class="status-author">
                <div>
                  Josh Doe @ <a href="#">john.doe@foo.bar</a>
                </div>
                <div class="posted-time">
                  16m
                </div>
              </div>
              <div class="status-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="status-actions">
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="sidebar">
        <div class="sidebar-container">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-user-dropdown-menu">
  <a href="#" class="user-menu-links">
    <%= image_tag "reddit/login-logout-door.svg", class: "login-logout-icon" %>
    <div class="user-menu-item">Log in / Sign Up</div>
  </a>
</div>
